<div class="header text-center">
  <h1>Contact List</h1>
</div>

<!--<%= link_to 'New Contacct', new_contact_path, class: 'nav-link' %>-->

<div class="booyah-box col-10 offset-1">
  <h2>Enter Contact Information</h1>
  <%= simple_form_for @contact do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :company %>
    <%= f.input :title %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>

<br /><br />

<div class="container-fluid">
  <div class="row">
		<% @contacts.each do |contact| %>
    <div class="col-md-2 col-lg-1  offset-1">
	    <%= contact.first_name %> <%= contact.last_name %><br />
	    <%= contact.company %><br />
	    <%= contact.title %><br /><br />
    </div>
		<% end %>
  </div>
</div>
